/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* COMMON ATTRIBUTES */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px 3em;
    background-color: #D5D7D8;
    margin: 2em 1em;
}

#logo {
    max-height: 100px;
    max-width: 100px;
}

#nav-link {
    list-style-type: none;
}

#nav-link li {
    display: inline-block;
    padding: 0.6em;
}

#nav-link li a {
    text-decoration: none;
    color: #9333D8;
    font-size: 18px;
    font-weight: 600;
}

footer {
    padding: 2em;
    text-align: center;
    font-weight: 700;
}

/* MAIN PAGE */

#about-me {
    color: white;
    padding: 250px 250px;
    background-image: url("../images/sunset-background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

#about-me h1 {
    font-size: 60px;
    font-weight: 700;
    padding: 10px 0;
}

.bio {
    font-size: 18px;
}

#about-me #rng {
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

#album-preview {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 5em;
}

#album-preview img {
    max-height: 550px;
    max-width: 550px;
    padding: 0 0.8em;
}
#album-preview a {
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    margin-top: 2em;
    color: #9333D8;
    
}

#more-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 5em 0;
    background-color: #D5D7D8;
    z-index: 1;
    position: relative;
    margin: 5em 6em 0;
    justify-content: space-around;
    
}

#more-info:before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    
}

#more-info h2 {
    font-size: 30px;
    font-weight: 700;
}


/* ALBUM PAGE */

#album-heading {
    font-size: 60px;
    font-family: 700;
    text-align: center;
    padding: 5px;
}

#album-section {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5em;
    padding: 10px;
    background-color: #EBDDEE;
}

#album-section img {
    max-height: 550px;
    max-width: 550px;
    padding: 0.4em 0.4em;
    
}

/* CONTACT PAGE */

#contact-info {
    text-align: center;
    margin-bottom: 37em;
}

#contact-info h1 {
    font-size: 48px;
    font-weight: 700;
}

#contact-info #contact-me {
    font-size: 18px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    /* Main Page */
    #about-me {
        max-width: 90%;
        padding: 10% 30%;
    }

    #about-me h1, .bio, #rng {
        margin: 0 auto;
    }
    
    #album-preview {
        grid-template-columns: auto;
    }

    #album-preview img {
        width: 95%;
        height: auto;
        padding: 10px 0;
        margin: 0 auto;
    }

    #more-info {
        grid-template-columns: auto;
        padding: 40px;
    }

    #more-info h2, #more-info ul {
        padding-bottom: 10px;
    }

    /* Album Page */
    #album-heading {
        font-size: 2.4em;
        margin: 20px 0;
    }

    #album-section {
        grid-template-columns: auto;
        margin: 0 auto;
    }

    #album-section img {
        width: 95%;
        height: auto;
        padding: 10px 0;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    /* Main Page */
    #about-me {
        max-width: 90%;
        padding: 20% 20%;
    }

    #about-me h1, .bio, #rng {
        width: 90%;
    }
    
    #album-preview {
        grid-template-columns: auto;
    }

    #album-preview img {
        padding: 10px 10px;
        max-width: 700px;
        max-height: 700px;
    }

    #more-info {
        grid-template-columns: auto;
        padding: 40px;
    }

    #more-info h2, #more-info ul {
        padding-bottom: 10px;
    }

    /* Album Page */
    #album-heading {
        font-size: 2.4em;
    }

    #album-section {
        grid-template-columns: auto;
        margin: 10px auto;
    }

    #album-section img {
        margin: 0 auto;
        max-width: 700px;
    }
}
